*{
	font-family: Roboto, sans-serif;
}

/*		segment		*/

#custom{
	margin-left: 0;
	padding: 0;
}

#about{
	font-size: 1.2em;
	text-align: justify;
	padding: 164px  0;
}

#com-list{
	background: #eee;
	padding: 34px  0;
}


#seminar{
	background: #fff;
	padding: 34px  0;
}

#subscribe{
	background: #eee;
	background: url('../images/images/subscribe-2.png') center no-repeat;
	background-size: cover;
	padding:10px 0 10px 0;
	
}

#center-subcribe{
	background: url('../images/images/center-subcribe.png') center no-repeat;
	background-attachment: fixed;	
}
#subscribe h3 {
	color: ;
	font-weight: 500;
	letter-spacing: 2px
}
#subscribe p {
	line-height: 1em;
	color: ;
	font-size: 1.1em
}

input[type="text"].custom-subcribe{
	color: ;
	height: 30px;
	font-size: 17px;
	display: inline-block;
	font-weight: 200;
	border: none;
	border-bottom: 1px solid #222;
	outline: none;
	padding: 3px;
	padding-right: 60px;
	width: 0px;
	background: transparent;
	width: 300px;
	z-index: 3;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}


.btn-transparent{
	background: transparent;border:none;height: 50px;width: 50px;margin: 70px 0;
}

.btn-transparent:active{
	border:none;
}


#footer{
	background: #0e2353;
	color: white;
	padding: 45px 0;
}

table.tbl-image-gallery td{
	padding: 3px;
}

#copyright{
	background: #0a193c;
	color: white;
	padding: 10px 0 0 0;
	font-weight: 300;
}

#copyright .second{
	background: #0a193c;
	color: white;
	padding: 10px 15px 10px 0;
	font-weight: 300;
	font-style: italic;
	text-align: right;
	margin-top: -10PX;
}

/* 		END SEGMENT		*/



/* 		Custom Links 		*/

.custom-link{
	color: #143173;
	text-decoration: none;
}

.custom-link:hover{
	color: #143173;
	text-decoration: none;
}

a.italic-link{
	color: #143173;
	font-weight: bold;
	transition: all 0.2s ease;
	font-style: italic;
	text-decoration: none;
}

a.italic-link:hover{
	color: #143173;
	transition: all 0.2s ease;
	font-style: italic;
	text-decoration: none;
}


/* END CUSTOM LINK*/
.no-pad{
	padding: 0;
}

.container h3 span{
	border-bottom: 2px solid #143173;
}

.images-icon{
	text-align: right;
}

.no-pad-vert{
	padding: 0 15px;
}

.no-pad-hor{
	padding:15px 0 ;
}

